# Global owners for all guide files
*       @lexer-kindle
*       @A-Hackers-Guide

# Specific people can be assigned to specific console folders if needed
/3ds/ @hacks.guide
/wiiu/ @hacks.guide
/vita/ @hacks.guide
/wii/ @hacks.guide
/switch/ @hacks.guide
/ios/ @cfw.guide
/cemu/ @cfw.guide
/dsi/ @cfw.guide
/3ds/ @lexer-kindle
/wiiu/ @lexer-kindle
/vita/ @lexer-kindle
/wii/ @lexer-kindle
/switch/ @lexer-kindle
/ios/ @lexer-kindle
/cemu/ @lexer-kindle
/dsi/ @lexer-kindle
/3ds/ @A-Hackers-Guide
/wiiu/ @A-Hackers-Guide
/vita/ @A-Hackers-Guide
/wii/ @A-Hackers-Guide
/switch/ @A-Hackers-Guide
/ios/ @A-Hackers-Guide
/cemu/ @A-Hackers-Guide
/dsi/ @A-Hackers-Guide
