# Global owners for all guide files
*       @lexer-kindle

# Specific people can be assigned to specific console folders if needed
/3ds/ @hacks.guide
/wiiu/ @hacks.guide
/vita/ @hacks.guide
/wii/ @hacks.guide
/switch/ @hacks.guide
/ios/ @cfw.guide
/cemu/ @cfw.guide
/dsi/ @cfw.guide
/3ds/ @lexer-kindle
/wiiu/ @lexer-kindle
/vita/ @lexer-kindle
/wii/ @lexer-kindle
/switch/ @lexer-kindle
/ios/ @lexer-kindle
/cemu/ @lexer-kindle
/dsi/ @lexer-kindle
