# Global owners for all guide files
*       @lexer-kindle

# Specific people can be assigned to specific console folders if needed
/3ds/ @hacks.guide
/wiiu/ @hacks.guide
/vita/ @hacks.guide
/wii/ @hacks.guide
/switch/ @hacks.guide
/ios/ @cfw.guide
/cemu/ @cfw.guide
/dsi/ @cfw.guide
/3ds/ @hacks.guide
/wiiu/ @hacks.guide
/vita/ @hacks.guide
/wii/ @hacks.guide
/switch/ @hacks.guide
/ios/ @cfw.guide
/cemu/ @cfw.guide
/dsi/ @cfw.guide
